<div class="paginator-container">
  <div>
    <mat-form-field>
      <mat-select [value]="pageSize" (selectionChange)="nextSize.emit($event.value)" placeholder="Users per page">
        <mat-option *ngFor="let size of [5, 10, 25, 50, 100]" [value]="size">
          {{ size }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <span class="page-info">Page {{ currentPage + 1 }} of {{ totalPages }}</span>
  </div>
  <div>
    <button (click)="nextPage.emit(currentPage - 1)" [disabled]="currentPage === 0" color="light" mat-icon-button>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button (click)="nextPage.emit(currentPage + 1)" [disabled]="(currentPage + 1) === totalPages"
      color="light" mat-icon-button>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
