<div [@containerState]="!!(previewData$ | async)" class="container">
  <div name="nameRow" class="row">
    <div class="column">
      <div class="item">
        <h1>{{ (previewData$ | async)?.firstName }} {{ (previewData$ | async)?.lastName }}</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="item">
        <h2>Summary</h2>
      </div>
    </div>
    <div class="column">
      <div class="item">
        {{ (previewData$ | async)?.summary }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="item">
        <h3>Projects / Personal experience</h3>
      </div>
    </div>
    <div class="column">
      <div class="item">
        <div *ngFor="let experience of (previewData$ | async)?.experience">
          <h4>{{ experience.title }}</h4>
          <h5>{{ experience.company }} | {{ experience.startDate | date }} - {{ experience.stillEmpoyed ? 'now' : (experience.endDate | date) }}</h5>
          <p>{{ experience.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="item">
        <h3>Skills</h3>
      </div>
    </div>
    <div class="column">
      <div class="item">
        <span *ngFor="let skill of (previewData$ | async)?.skills">
          {{ skill.skill }} ,
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="item">
        <h3>Education</h3>
      </div>
    </div>
    <div class="column">
      <div class="item">
        <h4>{{ (previewData$ | async)?.education.details }}</h4>
        <h5>{{ (previewData$ | async)?.education.startDate | date }} - {{ (previewData$ | async)?.education.endDate | date }}</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="item">
        <h3>Languages</h3>
      </div>
    </div>
    <div class="column">
      <div class="item">
        <div *ngFor="let language of (previewData$ | async)?.languages">
          <p>{{ language.language }} ({{language.level}})</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="item">
        <h3>Certificates</h3>
      </div>
    </div>
    <div class="column">
      <div class="item">
        <div *ngFor="let certificate of (previewData$ | async)?.certificates">
          <h4>{{ certificate.certificate }}</h4>
          <p>{{ certificate.details }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
